*{
  margin: 0;
  padding: 0;
}

body{
  height: 100vh;
}

@font-face {
  font-family: Expose;
  src: url(./fonts/Expose-Regular.ttf);
}

@font-face {
  font-family: Expose-bold;
  src: url(./fonts/Expose-Bold.ttf);
}

:root{
  --default-font : Expose;
  --bold-font: Expose-bold;
}