
.labels{
    margin-top: 15%;
    position: relative;
    left: 0;
    bottom: 5px;
    cursor: text;
    transition: 0.5s ease-in-out;
    font-size: 1.1em;
}

.inputs{
    position: absolute;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 0.9em;
    width: 60%;
    padding-bottom: 3px;
}

.inputs:focus,.inputs:valid{
    border-bottom: 2px solid #6CCFF6;
}

.inputs:focus ~ .labels,.inputs:valid ~ .labels{
    color: #6C2F6Fcc;
    bottom: 30px;
}





